@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: 'Exo', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'Exo', sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.rotate270 {
  transform: rotate(270deg);
}

.opacity100 {
  opacity: 100 !important;
}

@keyframes tilt {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

.hover\:tilt:hover {
  transform: rotate(10deg);
}

.footerHeight {
  height: 575px;
}

.cardAdjust {
  margin-top: 50px;
  max-width: 600px;
  width: 100%;
}

.marginForAbout {
  margin-right: 1rem; /* Adjust this value to reduce the gap */
}

.aboutPriyosImg {
  width: 350px;
  height: 350px;
  margin-right: 110px;
  margin-left: 100px;
  /* margin-top: 20px; */
}

.aboutRijurajImg {
  width: 420px;
  height: 420px;
  margin-right: 250px;
  margin-bottom: 50px;
}

.flex1 {
  gap: 200px; /* Adjust this value to control the gap between elements */
}

.gapx {
  gap: 80px;
}

.relative .hover-text {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.relative:hover .hover-text {
  opacity: 1;
}
.rijumarginLeft {
  margin-left: 75px;
}

/* for transaction bar */
input {
  background-color: rgba(255, 255, 255, 1) !important; /* Full opacity */
}


/* bg gradient */
.backgroundGradient {
  background: rgb(3,59,126);
background: radial-gradient(circle, rgba(3,59,126,1) 0%, rgba(11,10,98,1) 48%, rgba(2,1,20,1) 100%);
}

.pie-chart-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}